@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Welcome ao Sistema de desenvolviomento</h1>
    <p>Desenvolvimento de sistema para um cadatro no sistema </p>
</div>
