@{
    ViewData["Title"] = "Cadastrar Protocolo";
}

<div class="text-center">
    <h2 class="display-4">Cadastrar Protocolo</h2>
</div>

<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" placeholder="Seu nome">
  </div>
  <div class="form-group">
    <label for="e-mail">E-mail</label>
    <input type="text" class="form-control" placeholder="Seu email">
  </div>
  <div class="form-group">
    <label for="numProtooclo">Numero do protocolo</label>
    <input type="number" class="form-control" placeholder="Seu numero protoocolo">
  </div>
  <div class="form-group">
    <label for="tipo">Tipo</label>
    <input type="text" class="form-control" placeholder="Seu tipo do protoocolo">
  </div>
  <div class="form-group">
    <label for="dataProtooclo">Data do Protocolo</label>
    <input type="text" class="form-control" placeholder="Sua data do protooclo">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar Protocolo</button>
</form>