@{
    ViewData["Title"] = "Consultar Protocolo";
}

<div class="text-center">
    <h2 class="display-4">Consultar Protocolo</h2>
</div>

  <br/>

    @if(TempData["MensagemSucesso"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemSucesso"]
        </div>   
    }

    @if(TempData["MensagemErro"] != null)
    {
         <div class="alert alert-success" role="alert">
           <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
           @TempData["MensagemErro"]
        </div>   
    }

    <br/>


<table class="table" id="table-protocolos">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Numero Protocolo</th>
      <th scope="col">Tipo</th>
      <th scope="col">Data do protocolo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@uol.com.br</td>
      <td>45</td>
      <td>Unidade do pais</td>
      <td>23/06/2023</td>
      <td>
          <a role="button" class="btn btn-primary">Editar</a>
          <a role="button" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Larry</td>
      <td>larry@uol.com.br</td>
      <td>435</td>
      <td>Abertura de vagas</td>
      <td>14/03/2023</td>
      <td>
          <a role="button" class="btn btn-primary">Editar</a>
          <a role="button" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Michel</td>
      <td>michel@gmail.com</td>
      <td>87</td>
      <td>Aprendizado constante</td>
      <td>11/04/2023</td>
      <td>
          <a role="button" class="btn btn-primary">Editar</a>
          <a role="button" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
  </tbody>
</table>